# Virtual environment
venv/
env/
ENV/
.venv/
.virtualenv/

# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd
*.pyd

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Environment variables file
.env

# PyCharm project files
.idea/

# VSCode project files
.vscode/

# Build and distribution directories
build/
dist/
*.egg-info/

# Distribution files
*.tar.gz
*.zip

# MacOS specific files
.DS_Store

# Windows specific files
Thumbs.db
